<h1>About Us</h1>

<p> 
Founded by Monkey D. Luffy in 1997, Jungle started as a small plant shop that he operated out of his pirate ship.
Over the years, Jungle has blossomed into one of the most popular plant retailers in the world,
delivering plants to any location, making it easier than ever to bring life and color to your home or office. 
Explore our wide variety of plants today! 
</p>